
*.prj
CODE/CircleOfWillis_1/PackagingLog.html
CODE/CircleOfWillis_1/for_testing/splash.png
CODE/CircleOfWillis_1/for_testing/requiredMCRProducts.txt
CODE/CircleOfWillis_1/for_testing/readme.txt
CODE/CircleOfWillis_1/for_testing/mccExcludedFiles.log
CODE/CircleOfWillis_1/for_testing/CircleOfWillis.exe
CODE/CircleOfWillis_1/for_redistribution_files_only/splash.png
CODE/CircleOfWillis_1/for_redistribution_files_only/readme.txt
CODE/CircleOfWillis_1/for_redistribution_files_only/CircleOfWillis.exe
CODE/CircleOfWillis_1/CircleOfWillis.zip
CODE/CircleOfWillis_1/for_redistribution/MyAppInstaller_mcr.zip
CODE/TPH-001_V1.nii
Py/CircleOfWillis_GUI.spec
Py/Circle_of_Willis.png
Py/TPH-001_V1.nii
Py/build/CircleOfWillis_GUI/Analysis-00.toc
Py/build/CircleOfWillis_GUI/base_library.zip
Py/build/CircleOfWillis_GUI/CircleOfWillis_GUI.exe.manifest
Py/build/CircleOfWillis_GUI/CircleOfWillis_GUI.pkg
Py/build/CircleOfWillis_GUI/EXE-00.toc
Py/build/CircleOfWillis_GUI/localpycs/pyimod01_archive.pyc
Py/build/CircleOfWillis_GUI/localpycs/pyimod02_importers.pyc
Py/build/CircleOfWillis_GUI/localpycs/pyimod03_ctypes.pyc
Py/build/CircleOfWillis_GUI/localpycs/pyimod04_pywin32.pyc
Py/build/CircleOfWillis_GUI/localpycs/struct.pyc
Py/build/CircleOfWillis_GUI/PKG-00.toc
Py/build/CircleOfWillis_GUI/PYZ-00.pyz
Py/build/CircleOfWillis_GUI/PYZ-00.toc
Py/build/CircleOfWillis_GUI/Tree-00.toc
Py/build/CircleOfWillis_GUI/Tree-01.toc
Py/build/CircleOfWillis_GUI/Tree-02.toc
Py/build/CircleOfWillis_GUI/warn-CircleOfWillis_GUI.txt
Py/build/CircleOfWillis_GUI/xref-CircleOfWillis_GUI.html
Py/first_figure.html
Py/__pycache__/segment_CircleOfWillis.cpython-38.pyc
Py/vasculature.html
CODE/CircleOfWillis.mlapp
CODE/CircleOfWillis.mlapp
CODE/CircleOfWillis/CircleOfWillis.ctf
CODE/CircleOfWillis/mccExcludedFiles.log
CODE/CircleOfWillis/PackagingLog.html
CODE/CircleOfWillis/requiredMCRProducts.txt
Py/TPH-001_V1.npy
